absl-py
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
asgiref
asttokens
async-timeout
attrs
authlib
backoff
banks
bcrypt
beartype
beautifulsoup4
black
boto3
botocore
bs4
build
cachetools
certifi
cffi
charset-normalizer
chromadb
clearml
click
colorama
coloredlogs
contourpy
cryptography
cycler
cyclopts
dataclasses-json
decorator
defusedxml
deprecated
dirtyjson
diskcache
distro
dnspython
docstring-parser
docutils
durationpy
email-validator
exceptiongroup
executing
fastapi
fastmcp
filelock
filetype
flake8
flatbuffers
fonttools
frozenlist
fsspec
furl
google-auth
googleapis-common-protos
greenlet
griffe
grpcio
gtts
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iniconfig
ipython
jedi
jinja2
jiter
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
kiwisolver
kubernetes
langchain
langchain-core
langchain-mcp-adapters
langchain-ollama
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
llama-cloud
llama-cloud-services
llama-index
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-instrumentation
llama-index-llms-ollama
llama-index-llms-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-tools-mcp
llama-index-workflows
llama-parse
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mcp
mdurl
mmh3
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
oauthlib
ollama
onnxruntime
openai
openapi-pydantic
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orderedmultidict
orjson
ormsgpack
overrides
packaging
pandas
parso
pathable
pathlib2
pathspec
pathvalidate
pexpect
pillow
platformdirs
pluggy
polars
polars-runtime-32
posthog
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
py-key-value-aio
py-key-value-shared
pyasn1
pyasn1-modules
pybase64
pycodestyle
pycparser
pydantic
pydantic-core
pydantic-settings
pyflakes
pygments
pyjwt
pyparsing
pypdf
pyperclip
pypika
pyproject-hooks
pytest
python-dateutil
python-dotenv
python-multipart
pytokens
pyttsx3
pytz
pyyaml
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rich-rst
rpds-py
rsa
s3transfer
sacremoses
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shellingham
six
sniffio
soupsieve
sqlalchemy
srt
sse-starlette
stack-data
starlette
striprtf
sympy
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
tiktoken
tokenizers
tomli
torch
torchvision
tqdm
traitlets
transformers
triton
typer
typer-slim
typing-extensions
typing-inspect
typing-inspection
tzdata
ultralytics
ultralytics-thop
urllib3
uuid-utils
uvicorn
uvloop
vosk
watchfiles
wcwidth
websocket-client
websockets
werkzeug
wrapt
xxhash
yarl
zipp
zstandard
